parameters:
  level: 1
  fileExtensions:
    - php
  paths:
    - app/
  tmpDir: storage/framework/cache/phpstan
  reportUnmatchedIgnoredErrors: true

includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
